/* selettore{
    proprietà: Valore;
} */


/* corpo e sfondi*/

body{
    background-image: url(background.jpg);
    background-size: cover;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.contenitore{
    width: 85%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 50px;
    padding-bottom: 150px;
    border-radius: 15px;
}

/* fine corpo e sfondi*/

.logo{
    width: 250px;
    height: auto;
}

header{
    text-align: center;
    color: lime;
}

.comandi{
    background-color: lime;
    padding: 10px;
}

.informazioni{
    color: white;
}

h2{
    display: inline-block;
}

p{
    margin: 0;
}

/* Stato di carica monopattini*/

.carica{
    height: 30px;
    border-radius: 10px;

}

#Gino22{
    width: 400px;
    background-color: orange;
}

#Mike24{
    width: 700px;
    background-color:rgb(75, 214, 25);
}

#Fede154{
    width: 200px;
    background-color: red;
}

/*Fine stato carica monopattini*/
